In [1]:
#Initial imports 
import numpy as np
import pandas as pd 
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell #Show all consecutive outputs
InteractiveShell.ast_node_interactivity = "all"

#Removes all unnecessary warnings by Python
import warnings
warnings.filterwarnings('ignore')

# Imports for better visualization

from collections import defaultdict
import scipy as sp
from matplotlib import rcParams
import matplotlib.cm as cm
import matplotlib as mpl

#colorbrewer2 Dark2 qualitative color table
dark2_colors = [(0.10588235294117647, 0.6196078431372549, 0.4666666666666667),
                (0.8509803921568627, 0.37254901960784315, 0.00784313725490196),
                (0.4588235294117647, 0.4392156862745098, 0.7019607843137254),
                (0.9058823529411765, 0.1607843137254902, 0.5411764705882353),
                (0.4, 0.6509803921568628, 0.11764705882352941),
                (0.9019607843137255, 0.6705882352941176, 0.00784313725490196),
                (0.6509803921568628, 0.4627450980392157, 0.11372549019607843)]

rcParams['figure.figsize'] = (14, 6)
rcParams['figure.dpi'] = 250
rcParams['axes.color_cycle'] = dark2_colors
rcParams['lines.linewidth'] = 3
rcParams['axes.facecolor'] = 'white'
rcParams['font.size'] = 25
rcParams['patch.edgecolor'] = 'white'
rcParams['patch.facecolor'] = dark2_colors[0]
rcParams['font.family'] = 'StixGeneral'

#Show all the columns 
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

#Initial imports 
import numpy as np
import pandas as pd 
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell #Show all consecutive outputs
InteractiveShell.ast_node_interactivity = "all"

#Removes all unnecessary warnings by Python
import warnings
warnings.filterwarnings('ignore')

# Imports for better visualization

from collections import defaultdict
import scipy as sp
from matplotlib import rcParams
import matplotlib.cm as cm
import matplotlib as mpl

#colorbrewer2 Dark2 qualitative color table
dark2_colors = [(0.10588235294117647, 0.6196078431372549, 0.4666666666666667),
                (0.8509803921568627, 0.37254901960784315, 0.00784313725490196),
                (0.4588235294117647, 0.4392156862745098, 0.7019607843137254),
                (0.9058823529411765, 0.1607843137254902, 0.5411764705882353),
                (0.4, 0.6509803921568628, 0.11764705882352941),
                (0.9019607843137255, 0.6705882352941176, 0.00784313725490196),
                (0.6509803921568628, 0.4627450980392157, 0.11372549019607843)]

rcParams['figure.figsize'] = (14, 6)
rcParams['figure.dpi'] = 250
rcParams['axes.color_cycle'] = dark2_colors
rcParams['lines.linewidth'] = 3
rcParams['axes.facecolor'] = 'white'
rcParams['font.size'] = 25
rcParams['patch.edgecolor'] = 'white'
rcParams['patch.facecolor'] = dark2_colors[0]
rcParams['font.family'] = 'StixGeneral'

#Show all the columns 
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

#Initial imports 
import numpy as np
import pandas as pd 
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell #Show all consecutive outputs
InteractiveShell.ast_node_interactivity = "all"

#Removes all unnecessary warnings by Python
import warnings
warnings.filterwarnings('ignore')

# Imports for better visualization

from collections import defaultdict
import scipy as sp
from matplotlib import rcParams
import matplotlib.cm as cm
import matplotlib as mpl

#colorbrewer2 Dark2 qualitative color table
dark2_colors = [(0.10588235294117647, 0.6196078431372549, 0.4666666666666667),
                (0.8509803921568627, 0.37254901960784315, 0.00784313725490196),
                (0.4588235294117647, 0.4392156862745098, 0.7019607843137254),
                (0.9058823529411765, 0.1607843137254902, 0.5411764705882353),
                (0.4, 0.6509803921568628, 0.11764705882352941),
                (0.9019607843137255, 0.6705882352941176, 0.00784313725490196),
                (0.6509803921568628, 0.4627450980392157, 0.11372549019607843)]

rcParams['figure.figsize'] = (14, 6)
rcParams['figure.dpi'] = 250
rcParams['axes.color_cycle'] = dark2_colors
rcParams['lines.linewidth'] = 3
rcParams['axes.facecolor'] = 'white'
rcParams['font.size'] = 25
rcParams['patch.edgecolor'] = 'white'
rcParams['patch.facecolor'] = dark2_colors[0]
rcParams['font.family'] = 'StixGeneral'

#Show all the columns 
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

#Initial imports 
import numpy as np
import pandas as pd 
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell #Show all consecutive outputs
InteractiveShell.ast_node_interactivity = "all"

#Removes all unnecessary warnings by Python
import warnings
warnings.filterwarnings('ignore')

# Imports for better visualization

from collections import defaultdict
import scipy as sp
from matplotlib import rcParams
import matplotlib.cm as cm
import matplotlib as mpl

#colorbrewer2 Dark2 qualitative color table
dark2_colors = [(0.10588235294117647, 0.6196078431372549, 0.4666666666666667),
                (0.8509803921568627, 0.37254901960784315, 0.00784313725490196),
                (0.4588235294117647, 0.4392156862745098, 0.7019607843137254),
                (0.9058823529411765, 0.1607843137254902, 0.5411764705882353),
                (0.4, 0.6509803921568628, 0.11764705882352941),
                (0.9019607843137255, 0.6705882352941176, 0.00784313725490196),
                (0.6509803921568628, 0.4627450980392157, 0.11372549019607843)]

rcParams['figure.figsize'] = (14, 6)
rcParams['figure.dpi'] = 250
rcParams['axes.color_cycle'] = dark2_colors
rcParams['lines.linewidth'] = 3
rcParams['axes.facecolor'] = 'white'
rcParams['font.size'] = 25
rcParams['patch.edgecolor'] = 'white'
rcParams['patch.facecolor'] = dark2_colors[0]
rcParams['font.family'] = 'StixGeneral'

#Show all the columns 
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

train = pd.read_csv('train.csv', parse_dates=True)
test = pd.read_csv('test.csv',parse_dates=True)

In [2]:
train.head()

,ID,Item_ID,Datetime,Category_3,Category_2,Category_1,Price,Number_Of_Sales
0,30495_20140101,30495,2014-01-01,0,2.0,90,165.123,1
1,30375_20140101,30375,2014-01-01,0,2.0,307,68.666,5
2,30011_20140101,30011,2014-01-01,0,3.0,67,253.314,2
3,30864_20140101,30864,2014-01-01,0,2.0,315,223.122,1
4,30780_20140101,30780,2014-01-01,1,2.0,132,28.750,1

In [3]:
train['Date'] = pd.to_datetime(train['Datetime'])
test['Date'] = pd.to_datetime(test['Datetime'])

In [4]:
del train['Datetime']
del test['Datetime']

In [5]:
train['dayw'] = train['Date'].dt.weekday_name
train['Tarikh'] = train['Date'].dt.day
train['Month'] = train['Date'].dt.month
#train['Year'] = train['Date'].dt.year
test['Tarikh'] = test['Date'].dt.day
test['Month'] = test['Date'].dt.month
#test['Year'] = test['Date'].dt.year
test['dayw'] = test['Date'].dt.weekday_name

In [6]:
train.head()

,ID,Item_ID,Category_3,Category_2,Category_1,Price,Number_Of_Sales,Date,dayw,Tarikh,Month
0,30495_20140101,30495,0,2.0,90,165.123,1,2014-01-01,Wednesday,1,1
1,30375_20140101,30375,0,2.0,307,68.666,5,2014-01-01,Wednesday,1,1
2,30011_20140101,30011,0,3.0,67,253.314,2,2014-01-01,Wednesday,1,1
3,30864_20140101,30864,0,2.0,315,223.122,1,2014-01-01,Wednesday,1,1
4,30780_20140101,30780,1,2.0,132,28.750,1,2014-01-01,Wednesday,1,1

In [7]:
train['dayw'] = train['dayw'].map({'Monday': 1, 'Tuesday':2 , 'Wednesday': 3, 'Thursday': 4, 'Friday': 5,'Saturday':6, 'Sunday':7})
test['dayw'] = test['dayw'].map({'Monday': 1, 'Tuesday':2 , 'Wednesday': 3, 'Thursday': 4, 'Friday': 5,'Saturday':6, 'Sunday':7})

In [8]:
train.head()

,ID,Item_ID,Category_3,Category_2,Category_1,Price,Number_Of_Sales,Date,dayw,Tarikh,Month
0,30495_20140101,30495,0,2.0,90,165.123,1,2014-01-01,3,1,1
1,30375_20140101,30375,0,2.0,307,68.666,5,2014-01-01,3,1,1
2,30011_20140101,30011,0,3.0,67,253.314,2,2014-01-01,3,1,1
3,30864_20140101,30864,0,2.0,315,223.122,1,2014-01-01,3,1,1
4,30780_20140101,30780,1,2.0,132,28.750,1,2014-01-01,3,1,1

In [9]:
train.dtypes

ID                         object
Item_ID                     int64
Category_3                  int64
Category_2                float64
Category_1                  int64
Price                     float64
Number_Of_Sales             int64
Date               datetime64[ns]
dayw                        int64
Tarikh                      int64
Month                       int64
dtype: object

In [10]:
train2 = train

In [11]:
train2 = pd.get_dummies(data=train2, columns=['Category_3', 'Category_2','dayw','Tarikh','Month'])

In [12]:
train2.shape

(881876, 63)

In [13]:
train2.head()

,ID,Item_ID,Category_1,Price,Number_Of_Sales,Date,Category_3_0,Category_3_1,Category_2_1.0,Category_2_2.0,Category_2_3.0,Category_2_4.0,Category_2_5.0,dayw_1,dayw_2,dayw_3,dayw_4,dayw_5,dayw_6,dayw_7,Tarikh_1,Tarikh_2,Tarikh_3,Tarikh_4,Tarikh_5,Tarikh_6,Tarikh_7,Tarikh_8,Tarikh_9,Tarikh_10,Tarikh_11,Tarikh_12,Tarikh_13,Tarikh_14,Tarikh_15,Tarikh_16,Tarikh_17,Tarikh_18,Tarikh_19,Tarikh_20,Tarikh_21,Tarikh_22,Tarikh_23,Tarikh_24,Tarikh_25,Tarikh_26,Tarikh_27,Tarikh_28,Tarikh_29,Tarikh_30,Tarikh_31,Month_1,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12
0,30495_20140101,30495,90,165.123,1,2014-01-01,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,30375_20140101,30375,307,68.666,5,2014-01-01,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,30011_20140101,30011,67,253.314,2,2014-01-01,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,30864_20140101,30864,315,223.122,1,2014-01-01,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,30780_20140101,30780,132,28.750,1,2014-01-01,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
del train2['Date']
del train2['Price']
del train2['Number_Of_Sales']

In [15]:
train2['Price'] = train['Price']
train2['Number_Of_Sales'] = train['Number_Of_Sales']

In [16]:
train2.head()

,ID,Item_ID,Category_1,Category_3_0,Category_3_1,Category_2_1.0,Category_2_2.0,Category_2_3.0,Category_2_4.0,Category_2_5.0,dayw_1,dayw_2,dayw_3,dayw_4,dayw_5,dayw_6,dayw_7,Tarikh_1,Tarikh_2,Tarikh_3,Tarikh_4,Tarikh_5,Tarikh_6,Tarikh_7,Tarikh_8,Tarikh_9,Tarikh_10,Tarikh_11,Tarikh_12,Tarikh_13,Tarikh_14,Tarikh_15,Tarikh_16,Tarikh_17,Tarikh_18,Tarikh_19,Tarikh_20,Tarikh_21,Tarikh_22,Tarikh_23,Tarikh_24,Tarikh_25,Tarikh_26,Tarikh_27,Tarikh_28,Tarikh_29,Tarikh_30,Tarikh_31,Month_1,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12,Price,Number_Of_Sales
0,30495_20140101,30495,90,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,165.123,1
1,30375_20140101,30375,307,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68.666,5
2,30011_20140101,30011,67,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,253.314,2
3,30864_20140101,30864,315,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,223.122,1
4,30780_20140101,30780,132,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.750,1

In [17]:
from xgboost.sklearn import XGBRegressor
from sklearn.cross_validation import cross_val_score, train_test_split
from sklearn.metrics import accuracy_score
xgb = XGBRegressor(n_estimators=400, objective='reg:linear', silent=False)

C:\Users\NISHANT\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(train2.drop(['Item_ID', 'ID','Number_Of_Sales','Price'], axis=1), train2['Price'])
xgb.fit(x_train, y_train)

In [ ]:
test2 = test
test2.head()

In [ ]:
test2 = test2[['Category_1', 'Category_3', 'Category_2','dayw' ,'Tarikh', 'Month']]

In [ ]:
test2.head()

In [ ]:
test2 = pd.get_dummies(data=test2, columns=['Category_3', 'Category_2','dayw','Tarikh','Month'])

In [ ]:
test2.head()

In [ ]:
test2['Price'] = xgb.predict(test2)